#root {
  width: 100vw;
  text-align: center;
}

.body {
  display: flex;
  height: 100vh;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 260px;
  background: #181C23;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1rem
}

.sidebar-top {
  margin-bottom: 2rem;
}

.sidebar-bottom {
  margin-top: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.chat-window-body{
  flex: 1;
  padding: 2rem 4rem;
  background: #f7f8fa;
  overflow-y: auto;
  position: relative;
}

.chat-window-body .button {
  position: absolute;
  z-index: 1;
}

.right-message-container {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.left-message-container {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.right-message-bubble {
  background: #b2e7ff;
  color: #333;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 60%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  text-align: left;
  animation: float 1s ease-in-out;
}

.left-message-bubble {
  color: #333;
  padding: 1rem;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  line-height: 2;
}

.left-message-bubble ul, ol {
  padding-left: 1.2rem;
}

.message-input-container {
  display: flex;
  padding: 1rem 4rem;
  border-top: 1px solid #eee;
  background: #fff
}

.message-input-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid #ddd;
}

.message-inputbox {
  border: none;
  flex: 2;
  outline: none;
}

.button {
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  border-color: #181C23;
}

.button:hover {
  background: #181C23;
  color: #ffffff;
  transition: 0.3s;
}

.left-message-error {
  color: #f44336;
}

.welcome-card {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f8fa;
}

.welcome-card-message-container {
  background: #ffffff;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 1.5rem;
  border-radius: 1.5rem;
}

.welcome-card-message-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

@keyframes float {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}