#root {
  width: 100vw;
  text-align: center;
}

.body {
  display: flex;
  height: 100vh;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 260px;
  background: #181C23;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1rem
}

.sidebar-top {
  margin-bottom: 2rem;
}

.sidebar-bottom {
  margin-top: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.chat-window-body{
  flex: 1;
  padding: 2rem 4rem;
  background: #f7f8fa;
  overflow-y: auto;
}

.right-message-container {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.left-message-container {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.right-message-bubble {
  background: #b2e7ff;
  color: #333;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 60%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  text-align: left;
}

.left-message-bubble {
  color: #333;
  padding: 1rem;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  line-height: 2;
}

.left-message-bubble ul {
  padding-left: 1.2rem;
}

.message-input-container {
  display: flex;
  padding: 2rem 4rem;
  border-top: 1px solid #eee;
  background: #fff
}

.message-input-body {
  flex: 2;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid #ddd
}

.button {
  margin-inline: 2rem;
  padding: 1rem;
  border-radius: 50%;
}